//  start header section-----------------------------------------------------------

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__top {
  background-color: #1a1817;
  height: 45px;
  display: flex;
  align-items: center;
}

.header__social-item {
  display: inline-block;
  width: 24px;
  transition: .3s;

  &:hover {
    filter: brightness(70%);
  }

  img {
    width: 100%;
    background-size: cover;
  }

  &+.header__social-item {
    margin-left: 40px;
  }
}

.header__info {
  display: flex;
  justify-content: flex-end;
}

.header__info-mobile {
  display: none;
}

.header__info-item {
  &+.header__info-item {
    margin-left: 75px;
  }

  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    transition: 0.3s;
    padding-left: 15px;
  }

  &:hover {
    span {
      color: #a58a63;
    }
  }
}

.header__bottom {
  padding: 12px 15px;
  background-color: #fff;
}

.header__mobile {
  display: none;
}

.header__logo {
  display: block;
  width: 180px;

  img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

.header__menu {
  width: 40%;

  >ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline-block;
  }

  .active a {
    &:after {
      height: 7px;
    }
  }

  .header__menu-link:hover {
    &>a:after {
      height: 7px;
    }
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #3e3e3e;
    text-transform: uppercase;
    position: relative;
    z-index: 30;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      height: 0px;
      background: linear-gradient(90deg,
          #8f7047 -7%,
          #dabd9a 50.07%,
          #a58a63 105%);
      width: 100%;
      bottom: -17px;
      transition: 0.3s;
      z-index: 7;
    }
  }
}

// dropdown menu -------------------------
.header__dropdown:hover {
  .dropdown__list {
    z-index: 20;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s;
  }
}

.dropdown__list {
  min-height: calc(100vh - 110px);
  height: 100%;
  overflow-y: scroll;
  visibility: hidden;
  transition: 0.3s;
  transform: translateY(25px);
  opacity: 0;
  padding: 35px;
  position: relative;
  z-index: -1;
  width: 100vw;
  position: absolute;
  top: 116px;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;


  ul {
    max-width: 229px;
    width: 100%;

    &+ul {
      margin-left: 40px;
    }
  }

  li {
    display: block !important;

    &+li {
      margin-top: 15px;
      margin-left: 0;
    }
  }

  a {
    font-weight: 400 !important;
    text-transform: initial !important;
    font-size: 16px;
    line-height: 150%;
    transition: 0.4s;
    color: #3e3e3e;
    transition: 0.3s;

    &:hover {
      background-image: linear-gradient(90deg,
          #8f7047 -7%,
          #dabd9a 50.07%,
          #a58a63 105%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  span {
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-transform: uppercase;
    color: #3e3e3e;
    position: relative;
    padding-bottom: 5px;

    &:after {
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(90deg,
          #8f7047 -7%,
          #dabd9a 50.07%,
          #a58a63 105%);
    }
  }

  &:after,
  &:before {
    content: "";
    background-image: url(../img/svg/dropdown_frame.svg);
    position: absolute;
    width: 247px;
    height: 154px;
    background-size: cover;
    z-index: -1;
  }

  &:after {
    top: 0;
    left: 0;
  }

  &:before {
    right: 0;
    bottom: 0;
  }
}

.dropdown__img {
  height: 130px;

  img {
    width: 100%;
    background-size: cover;
    background-position: cover;
  }
}

//  ----------   RESPONSIVE   ----------   //

@media (max-width: 1600px) {
  .main {
    margin-top: 108px;
  }

  .dropdown__list {
    top: 109px;
  }

  .header__bottom {
    padding: 10px 15px;
  }

  .header__menu a {
    font-size: 14px;
  }

  .header__logo {
    display: block;
    width: 170px;
  }
}

@media (max-width: 1399.8px) {
  .main {
    margin-top: 97px;
  }

  .header__bottom {
    padding: 8px 15px;
  }

  .dropdown__list {
    top: 97px;
    min-height: calc(100vh - 97px);
  }

  .header__logo {
    width: 140px;
  }

  .header__menu-link>a {
    font-size: 12px;
  }

  .header__menu {
    width: 40%;
  }

  .header__info-item span {
    font-size: 14px;
  }

  .header__social-item+.header__social-item {
    margin-left: 25px;
  }
}

@media (max-width: 991.8px) {
  .main {
    margin-top: 112px;
  }

  .header__info-item span {
    padding-left: 10px;
  }

  .header__info-item+.header__info-item {
    margin-left: 25px;
  }

  .header__mobile-logo {
    max-width: 147px;
    display: block;

    img {
      width: 100%;
      background-size: cover;
    }
  }

  .burger-btn {
    width: 24px;
    display: inline-block;

    span {
      display: block;
      background: linear-gradient(90deg,
          #8f7047 -7%,
          #dabd9a 50.07%,
          #a58a63 105%);
      width: 24px;
      height: 3px;
      transition: 0.4s;

      &+span {
        margin-top: 5px;
      }
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate(1px, 6px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-405deg) translate(5px, -10px);
      }
    }
  }

  // --------------- start mobile menu ----------------/
  .header__bottom {
    display: none;
  }

  .header__mobile {
    display: block;
    position: relative;
    padding: 10px 0;
    z-index: 999;
    background-color: #fff;
  }

  .mobile__menu {
    &.active {
      transform: translateX(0);
      opacity: 1;
    }

    padding: 0 0 30px;
    transition: 0.5s;
    position: absolute;
    opacity: 0;
    overflow-y: scroll;
    transform: translateX(-150%);
    min-height: calc(100vh - 112px);
    height: 100%;
    background-color: #4c4947;
    left: 0;
    right: 0;
    top: 67px;
    bottom: 0;

    li {
      display: block;

      &+li {
        margin-top: 15px;
      }
    }

    a,
    span {
      font-weight: 500;
      font-size: 17px;
      line-height: 150%;
      color: #ffffff;
      text-transform: uppercase;
    }

  }

  .mobile__list {
    padding: 40px 0;
    min-height: calc(100vh - 157px);
    height: 100%;
    &>li>span,
    &>li>a{
      padding: 8px;
    }
  }

  .mobile__dropdown {
    span {
      position: relative;
      z-index: 1;
      display: block;

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(../img/btn_bg.png);
        background-position: center;
        background-size: cover;
        left: 0;
        top: 0;
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
      }
    }
  }

  .mobile__dropdown.active {
    transition: 3s;

    span:after {
      opacity: 1;
    }

    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      right: 15px;
      top: 15px;
      transform: rotate(45deg);
      border-left: 1px solid #ffffff;
      border-top: 1px solid #ffffff;
      z-index: 1;
    }
  }

  .mobile__dropdown-list {
    display: none;
    padding-left: 20px;

    a {
      font-size: 16px;
      line-height: 150%;
      text-transform: capitalize;
      color: #ffffff;
    }

    li {
      margin-top: 10px;
    }
  }
}

// --------------- end mobile menu ----------------/

@media (max-width: 767.8px) {
  .main {
    margin-top: 155px;
  }

  .header__social-item+.header__social-item {
    margin-left: 15px;
  }

  .header__top {
    height: auto;
    padding: 16px 0;
  }

  .header__info {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .header__info-phone {
    display: none;
  }

  .header__info-mobile {
    display: inline-block;
  }

  .header__social {
    display: inline-block;
  }
}

@media (max-width: 375.8px) {
  .header__social-item {
    width: 20px;
  }

  .mobile__menu {
    top: 60px;
  }
}