.articlesect .articlesect__contbox {
    margin-bottom: 0 !important;
}

.abmet-welcomesection.obgposleft .abmet-welcomesection__bg {
    object-position: 0 0;
}

@media(max-width:575.8px) {

    .articlesect .articlesect__contbox h1 br,
    .articlesect .articlesect__contbox h2 br,
    .articlesect .articlesect__contbox h3 br,
    .questionform h3 br {
        display: none;
    }
}