.articlesect .articlesect__contbox ul.centerlist.w900 {
    max-width: 960px;
}

.articlesect .greytext {
    padding: 54px 0;
    position: relative;
    background-color: #F6F6F6;
    margin-bottom: 50px;
    background-image: url('../img/svg/ipl_photofacial_frame.svg');
    background-position: center;
    background-repeat: no-repeat;


    p {
        max-width: 1010px;
        margin: 0 auto;
        margin-bottom: 25px;
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        color: #545454;

        &:last-child {
            margin-bottom: 0;
        }
    }

}

.bgelemfrozsh1 {
    position: absolute;
    left: 0;
    bottom: 28%;
    width: 316px !important;
    z-index: -1;
}

.bgelemfrozsh2 {
    position: absolute;
    right: 0;
    bottom: 17%;
    width: 316px !important;
    z-index: -1;
}

.itlink {
    font-style: italic;
}

.articlesect .articlesect__contbox p.itlink {
    display: block;
    text-align: center;
}

.promobox {
    background: linear-gradient(90deg, #8F7047 -7%, #DABD9A 50.07%, #A58A63 105%);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;

    h5 {
        font-size: 24px;
        color: #fff;
        margin-bottom: 10px;
        font-weight: 600;
    }

    h6 {
        margin-bottom: 20px;
        font-weight: 600;
    }

    p {
        color: #fff !important;
        font-size: 16px !important;

        a {
            text-decoration: underline;
            font-weight: 600;
            color: #fff !important;
        }
    }
}

.articlesect .articlesect__contbox p a {
    color: #8F7047;
    font-weight: 400;

    img.icon {
        margin-top: -3px;
        margin-right: 2px;
        width: 20px;
    }

}

.articlesect .articlesect__contbox blockquote {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #545454;
    border-left: 5px solid #A58A63;
    font-style: italic;
    box-shadow: 0 6px 20px 0 rgb(77 64 42 / 12%);
    padding: 10px 10px 10px 20px;
}

.ipl-gallery.ipl-galleryauto {
    max-height: initial;
}

h5 {
    color: #545454;
}

.videosect {
    position: relative;

    .plyr {
        max-height: 100%;
    }
}

.boxarticle .blogbox .blogbox__img {
    height: 150px;
}

.boxarticle .blogbox .blogbox__info .descr.ingr {
    font-size: 14px;
    margin-bottom: 10px;
}

.boxarticle .blogbox .blogbox__info .readmore {
    margin-bottom: 0;
}

.boxarticle .col-lg-4 {
    margin-bottom: 30px;
}

.qform .qform__submit {
    background: transparent;
    border: none;
    overflow: hidden;

    &::after {
        background: url(../img/new/btnbgform.png) no-repeat center/100% 100%;
    }

    &:hover {
        background: #fff;
        border: none;
    }
}

.articlesect .callnow {
    overflow: hidden;

    &::after {
        left: -2px;
        top: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
    }
}

.articlesect .articlesect__contbox ul {
    flex-wrap: wrap;
}

.articlesect .articlesect__contbox ul.threecol li {
    width: 33%;
    margin-bottom: 20px;
}

.articlesect .articlesect__contbox ol>li:after {
    display: none !important;
}

.greyarticle {
    margin-top: 50px;
}

.bgelem1 {
    bottom: 29%;
}

table {
    margin-bottom: 30px !important;
}

table thead {
    font-size: 18px;
}

table tbody {
    font-size: 16px;
}












@media(max-width:1600.8px) {
    .articlesect .greytext p {
        font-size: 18px;
    }

    .articlesect .articlesect__contbox blockquote {
        font-size: 16px;
    }

    table thead {
        font-size: 16px;
    }
}

@media(max-width:767.8px) {
    .ipl-gallery {
        .col {
            max-width: 33%;
            flex: 0 0 33%;

            img {
                margin-bottom: 20px;
            }

            &:last-child {
                img {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media(max-width:575.8px) {
    .articlesect .greytext p {
        font-size: 16px;
    }

    .articlesect .greytext {
        padding: 30px 0;
    }

    .centerlist {
        margin-bottom: 20px !important;
    }

    .ipl-gallery {
        .col {
            max-width: 50%;
            flex: 0 0 50%;

            img {
                margin-bottom: 20px;
                object-fit: initial;
            }
        }
    }

    table thead,
    table tbody {
        font-size: 14px;
    }
}